autocorrect==0.3.0
Django==2.0.7
django-ckeditor==5.6.1
django-extensions==2.1.0
django-geojson==2.10.0
django-js-asset==1.1.0
django-leaflet==0.24.0
django-webpack-loader==0.6.0
elasticsearch==6.0.0
future==0.16.0
geographiclib==1.49
geopy==1.13.0
isodate==0.6.0
jsonfield==2.0.2
neo4j-driver==1.5.3
nltk==3.2.5
numpy==1.14.1
olefile==0.45.1
pandas==0.22.0
Pillow==4.2.1
psycopg2==2.7.3.2
py2neo==3.1.2
pyparsing==2.2.0
pyproj==1.9.5.1
python-dateutil==2.6.1
pytz==2017.3
rdflib==4.2.2
selenium==3.11.0
Shapely==1.6.4.post1
six==1.10.0
sparklines==0.4.1
SPARQLWrapper==1.8.0
urllib3==1.22
virtualenv==16.0.0
